.detail {
  background-image: url("../../assets/bbck.jpg");
  display: block;
  background-color: black;
  margin: 0;
  width: 100%;
  height: auto;
  position: absolute;
  background-position:center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  font-family: "Arial", cursive;
  color: rgb(0, 0, 0);
  font-size: 30px;
}

.detail button {
 
  border-color: rgb(0, 0, 0);
  border: solid 2px;
  border-width: 0.5px;
  border-radius: 100px;
  background-color: rgb(255, 255, 255);
  transition: background-color 0.25s, color 0.25s;
  padding: 7px;
  width: 230px;
  height: 55px;
  margin-top: 10px;
  margin-left: 85%;
  margin-bottom: 0px;
  font-family: "Arial", cursive;
  font-size: 17px;
  cursor: pointer;
  color: rgb(0, 0, 0);
}
.detail button:hover {
  background-color:rgb(255,153,0);
  color: rgb(255, 255, 255);
}

.detail h1 {
  display: flex;
  justify-content: center;
  margin-top: 30px;
  font-size: 65px;
  font-family: "Arial", cursive;
  color: rgb(255, 255, 255);
}

.detail .detailImg {
  width: 280px;
  height: 280px;
  margin-left: 40%;
  
  margin-top: 20px;
  margin-bottom: 20px;
  border-radius: 15px;
  border: solid 6px rgb(255,153,0);
}

.h3-2 h3,
h2 {
  display: flex;
  justify-content: left;
  margin-left: 10%;
  color:white;
 
}

.details h3 {
  margin-left: 10%;
  color: white;

  
}

.details p {
  margin-left: 17%;
  margin-right: 17%;
  background-color: rgba(255, 255, 255, 0.8);
  padding: 3%;
  border-radius: 10px;
  border: solid 6px rgb(255,153,0);
}

.details ul {
  margin-left: 17%;
  margin-right: 17%;
  background-color: rgba(255, 255, 255, 0.8);
  padding: 2%;
  border-radius: 10px;
  border: solid 6px rgb(255,153,0);

}
