.home {
 
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: black;
  background-image: url("../../assets/bbck.jpg");
 
  position: relative;
  
    
}

.home h1 {

 position:relative;
   width: fit-content;
  height: fit-content;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0px;

  
   display:flex;
  
   
 
   
   color: rgba(255, 153, 0, 0.926);
   text-shadow: rgb(0, 0, 0) -6px 3px;
 
 
   font-size: 100px;
   font-family:Arial, Helvetica, sans-serif;
   font-weight: 100;
  
   
}

.home h1 img {
  height: 110px;
  width: 110px;
  
  margin-left: auto;
  margin-right: auto;
  padding: 10px;
  display: flex;
  padding-left: 25px;
  padding-right: 25px;
}

.linkCreate {
  display: flex;
  justify-content: flex-end;
  margin-top: 0px;
  margin-bottom: 0px;
  margin-right: 7vw;
  color: rgb(0, 0, 0);
}
.btnCreate {
  border: solid 2px transparent;
  border-color: rgb(0, 0, 0);
  border-width: 0.5px;
  border-radius: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 230px;
  padding: 0;
  height: 55px;
  background-color: rgb(215, 210, 210);
  transition: background-color 0.25s, color 0.25s;
  cursor: pointer;
  color: rgb(0, 0, 0);
  font-size: 17px;
}
.btnCreate:hover {
  background-color:rgb(255,153,0);
  color: rgb(255, 255, 255);
}
.linkCreate {
  text-decoration: none;
}

.showAll {
  display: flex;
  justify-content: center;
 
  margin-bottom: 0px;
  margin-left: auto;
  margin-right: auto;
  

}
.showAll button {
  border: solid 2px transparent;
  border-color: rgb(0, 0, 0);
  border-width: 0.5px;
  border-radius: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 230px;
 margin-left: auto;
 margin-right: auto;
  height: 55px;
  background-color: rgb(215, 210, 210);
  transition: background-color 0.25s, color 0.25s;
  cursor: pointer;
  color: rgb(0, 0, 0);
  font-size: 17px;
}
.showAll button:hover {
  background-color:rgb(255, 153, 0);
  color: rgb(255, 255, 255);
}

.select {
  display: flex;
  justify-content: center;
  padding: 5px;
  margin-top: 10px;
  margin-bottom: 10px;
}
.span {
  display: flex;
  margin-right: 26px;
  margin-left: 50px;
  color: rgb(255, 255, 255);
  font-size: 25px;
  font-weight: 600;
  font-family: Arial, Helvetica, sans-serif;
}

.paginate {
  margin-bottom: 0px;
  padding-bottom: 0%;

}

.paginate button {
  background-color: rgb(88, 88, 88);
  border-color: rgb(255, 255, 255);
 
}
.paginate button:hover {
  background-color: rgb(0, 0, 0);
  color: rgb(255, 255, 255);
}

.cards {
  margin-left: 7%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  margin-bottom: 0px;
}

.linkCard {
  text-decoration: none;
}

.dietsMap {
  margin-top: 2px;
  margin-bottom: 0;
 
}
