.cardComp {
  border: 4px solid rgb(0, 0, 0);
  

  background:rgba(255, 153, 0, 0.926);
  box-shadow: 2px 2px 2px rgb(255, 255, 255);
  font-size: 20px;
  color: rgb(0, 0, 0);
  display: inline-block;
  margin: 5%;
  margin-right:25px ;
  padding: 1em;
  height: 480px;
  vertical-align: top;
  width: 33, 5%;
  border-radius: 20px;
  font-family: Arial, Helvetica, sans-serif;
}

.cardComp h3 {
  display: flex;
  text-align: center;
  width: 250px;
  margin-top: 5px;
  color: rgb(0, 0, 0);
  text-shadow: rgb(19, 19, 18) -1px 1px;
  font-size: 25px;
}

.cardComp h3:hover {
  
  color: rgb(255, 255, 255);
  text-shadow: rgb(0, 0, 0) -0.5px 0.5px;
}
.cardComp img {
  display: flex;
  margin-left: 20%;
  border-radius: 15px;
}

.cardComp img:hover {
  border: 2px outset rgba(0, 0, 0, 0.8);
}

.typeOfD {
  color: rgb(0, 0, 0);
  text-decoration: underline;
  margin-bottom: 7px;
  margin-top: 9px;
}

.diets {
  color: rgb(0, 0, 0);
  margin-top: 0;
  margin-bottom: 0;
}

.score {
  color: rgb(0, 0, 0);
  float: right;
}
