.searchBar {
  display: flex;
  justify-content: center;
 
  margin-bottom: 0px;
  margin-left: 45vw;
  padding-left: 5px;
  padding-right: 5px;
  width: 190px;
  height: 35px;
  font-size: 17px;

}

.input {
  background-color: white;
  border-color: rgb(0, 0, 0);
  border-width: 0.5px;
  border-radius: 8px;
  color: rgb(0, 0, 0);
  font-size: 1rem;
  
  width: 25rem;
}
::placeholder {
  color: rgb(255, 255, 255);
  font-size: 1rem;
}

.btn {
  border-color: black;
  border-radius: 8px;
  width: 65px;
  height: 35px;
  font-size: 1.1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(215, 210, 210);
  transition: background-color 0.25s;
  cursor: pointer;
  color: rgb(0, 0, 0);
  margin-left: 5px;
}
.btn:hover {
  background-color:rgb(255,153,0);
  color: rgb(255, 255, 255);
}