.btn {
    background-color: #faf8f8;
    border: 1px solid #dddddd;
    font-family: "Gamer";
    cursor: pointer;
    padding: 5px 15px;
    box-shadow: -1px 3px 6px -1px rgba(0, 0, 0, 0.75);
    margin: 10px 0px;
    transition: 0.1s all ease-in-out;
  }
  
  .btn:hover {
    background-color: #db3d4b;
    border: none;
  }
  
  .btn__active {
    background-color: #db3d4b;
    border: none;
    font-family: "Gamer";
    cursor: pointer;
    padding: 5px 15px;
    box-shadow: -1px 3px 6px -1px rgba(0, 0, 0, 0.75);
    margin: 10px 0px;
  }
  
  .btn__active button {
    background-color: #db3d4b;
    border: none;
    font-family: "Gamer";
    cursor: pointer;
    padding: 5px 15px;
    box-shadow: -1px 3px 6px -1px rgba(0, 0, 0, 0.75);
    margin: 10px 0px;
  }