.detail {
  background-image: url("../assets/bbck.jpg");
 
  background-color: black;
  margin: 0;
  width: 100%;
  height: auto;
  position: absolute;
  background-position:center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  font-family: "Arial", cursive;
  color: rgb(0, 0, 0);
  font-size: 26px;
}

.detail button {
  border-color: rgb(0, 0, 0);
  border: solid 2px;
  border-width: 0.5px;
  border-radius: 100px;
  background-color: rgb(255, 255, 255);
  transition: background-color 0.25s, color 0.25s;
  padding: 7px;
  margin-top: 10px;
  margin-left: 90%;
  margin-bottom: 0px;
  font-family: "Arial", cursive;
  cursor: pointer;
  color: rgb(0, 0, 0);
}
.detail button:hover {
  background-color: rgb(0, 0, 0);
  color: rgb(255, 255, 255);
  
}

.detail h1 {
  display: flex;
  justify-content: center;
  margin-top: 30px;
  font-size: 35px;
  font-family: "Arial", cursive;
  color: rgb(255, 255, 255);
}

.detail img {
  width: 250px;
  height: 250px;
  margin-left: 39%;
  margin-top: 20px;
  margin-bottom: 20px;
  border-radius: 15px;
}

.h3-2 h3,
h2 {
  display: flex;
  justify-content: left;
  margin-left: 10%;
  color:white;
}

.details h3 {
  margin-left: 10%;
  color: white
  
}

.details p {
  margin-left: 17%;
  margin-right: 17%;
  background-color: rgba(255, 255, 255, 0.8);
  padding: 2%;
  border-radius: 10px;
}

.details ul {
  margin-left: 17%;
  margin-right: 17%;
  background-color: rgba(255, 255, 255, 0.8);
  padding: 2%;
  border-radius: 10px;
}
